{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <!-- Section d'introduction avec un fond blanc et espacement confortable -->
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10"> <!-- Augmenter la largeur encore ici -->
                <!-- Première section (Introduction) -->
                <div class="bg-white shadow-sm p-4 mb-4 rounded">
                    <h2 class="text-center">Bienvenue sur mon SAE Portfolio</h2>
                    <p class="lead mb-4">Ce portfolio est dédié à mon projet dans le cadre du BUT Réseaux et Télécommunications (RT). Ce projet présente une introduction à mes compétences et à ma formation, en mettant l'accent sur des domaines clés tels que les réseaux, l'administration des systèmes, et la cybersécurité.</p>
                    <p class="text-center">Vous y trouverez une présentation détaillée de mes connaissances et des compétences acquises tout au long de ma formation. J'y aborde aussi bien la gestion des infrastructures réseau que la cybersécurité, tout en partageant des projets pratiques et des réalisations concrètes.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
